.metadata/
.classpath
.project
.settings/
.factorypath
*.iml
.idea/

target/
**/target/

test-output/
allure-results/
allure-report/

# Cucumber Reports
cucumber-report.html
cucumber-report.json
target/cucumber-report.html
target/cucumber.json

*.log

.DS_Store
Thumbs.db

src/test/java/runner/TestNGRunner.java